<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT"
    crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col">
            <img src={{user.image}}>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1> Welcome {{user.name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{#if NonProfitProfile}}
                <h2>Your Organization Profile</h2>
                <p>Company Name: {{NonProfitProfile.companyName}}</p>
                <p>Descrition: {{NonProfitProfile.description}}</p>
                {{!-- <p>Organization Members........</p> --}}
            {{else}}
                <a id="createNonProfitProfile" class="" href="/non-profit/create" class="btn btn-primary">Add
                    Organization
                    Profile</a>
            {{/if}}
        </div>
    </div>

</div>
