{{!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT"
    crossorigin="anonymous"> --}}

<div class="container userContainer">
    <div class="row">
        <div class="col">
            <h1 class="userTitle"> Welcome {{user.name}}</h1>
        </div>
    </div>

    <div class="row">
        {{!-- can we add if nonProfitProfile too?? --}}
        <div class="col-md-4 offset-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <img style="height: 100%; width: 100%; display: block;" src="{{user.image}}" alt="Card image">
                </div>
                <div class="card-body">
                    {{#if volunteerProfile}}
                        <p class="card-text"><span class="cardTitle">Bio:</span> {{volunteerProfile.bio}}</p>
                        <p class="card-text"><span class="cardTitle">Email:</span> {{user.email}}</p>
                        <p class="card-text"><span class="cardTitle">Location:</span> {{volunteerProfile.location}}</p>
                        <p class="card-text"><span class="cardTitle">Technologies:</span> {{volunteerProfile.technologies}}</p>
                        <p class="card-text"><span class="cardTitle">Availability:</span>
                            {{volunteerProfile.availability}} hours per week</p>
                        <a id="update-volunteer" href="volunteer/{{volunteerProfile.id}}/update" role="button" class="btn btn-primary">Update
                            Profile</a>
                        <button id="deleteButton" role="button" class="btn btn-success" data-volunteer_profile_id="{{volunteerProfile.id}}">
                            Delete Profile
                        </button>
                    {{else}}
                        <a id="createProfile" href="/volunteer/create" class="btn btn-primary">Create a Volunteer
                            Profile</a>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        {{#if nonProfitProfiles}}
            <h3 class="orgCardTitle">Organization Memberships</h3>
            {{#each nonProfitProfiles}}
                <div class="col-md-4 offset-md-4">
                    <div class="card mb-3 orgBody">
                        <div class="card-body"></div>
                        <p class="card-text"><span class="cardTitle">Company Name:</span> {{companyName}}</p>
                        <p class="card-text"><span class="cardTitle">Description:</span> {{description}}</p>
                        <p class="card-text"><span class="cardTitle">Email:</span> {{email}}</p>
                        <p class="card-text"><span class="cardTitle">Phone:</span> {{phone}}</p>
                        <p class="card-text"><span class="cardTitle">Location:</span> {{location}}</p>
                        <a id="update-non-profit" href="non-profit/{{id}}/update" role="button" class="btn btn-primary">Update</a>
                        <button role="button" class="btn btn-success orgDeleteButton" data-non_profit_profile_id="{{id}}">
                            Delete
                        </button>
                    </div>
                </div>
    </div>
    {{/each}}

    {{else}}
        <div class="row addOrg">
            <div class="col">
                <a id="createNonProfitProfile" href="/non-profit/create" class="btn btn-primary">Create an
                    Organization Profile</a>
            </div>
        </div>
        {{/if}}
</div>

<script src="/js/user.js"></script>
