<div class="container">
    <div class="row">
        <div class="col-md">
            <h1 class="orgTitle">Current Organizations</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 offset-md-10 addOrgBtn">
            <a id="addOrganization" class="btn btn-primary" href="/non-profit/create" role="button">Add Organization
                Profile</a>
        </div>
    </div>

    <div class="row">
        {{#each nonProfitProfiles}}
            <div class="col-md-6">
                <div class="card mb-3">
                    <h3 class="card-header">{{this.companyName}}</h3>
                    <div class="card-body">
                        <p class="card-text"> {{this.description}}</p>
                    </div>
                    <div class="card-body">
                        <p><span class="cardTitle">Projects:</span> {{this.projectCount}}</p>
                        <p><span class="cardTitle">Members:</span> {{this.memberCount}}</p>
                        <p><span class="cardTitle">Phone:</span> {{this.phone}}</p>
                        <p><span class="cardTitle">Email:</span> {{this.email}}</p>
                        <p><span class="cardTitle">location:</span> {{this.location}}</p>
                        <a class="btn btn-secondary" href='/projects/add-project?nonProfitProfileId={{this.id}}' role="button">Add
                            Project</a>
                        <a class="btn btn-success" href="/non-profit/show/{{this.id}}" role="button">View Our Projects</a>
                        {{!-- <a id="update-organization" class="btn btn-primary" href="#" role="button">Update Profile</a>
                        <a id="delete-organization" class="btn btn-info" href="#" role="button">Delete Profile</a> --}}
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>
