<div class="container ">
    <div class="row">
        <div class="col">

            {{!-- need name and email from auth0 --}}
            <h2 class="create-title">Update Organization</h2>
        </div>
    </div>

    <form id="orgForm" data-non_profit_profile_id="{{nonProfitProfile.id}}">
        <div class="form-group row">
            <label for="orgName" class="col-sm-2 col-form-label">Organization Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgName" placeholder="Company Name" value="{{nonProfitProfile.companyName}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgDescription" placeholder="Description" value="{{nonProfitProfile.description}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgDescription" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="orgEmail" placeholder="Email" value="{{nonProfitProfile.email}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgDescription" class="col-sm-2 col-form-label">Phone:</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="orgPhone" placeholder="Phone" value="{{nonProfitProfile.phone}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="orgLocation" class="col-sm-2 col-form-label">Location:</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="orgLocation" placeholder="Location" value="{{nonProfitProfile.location}}">
            </div>
        </div>

        {{!-- <div class="form-group">
            <label for="techSelect">Select Technologies</label>
            <select multiple="form-group" class="form-control" id="techSelect">
                <option id="react">React</option>
                <option id="node">Node.js</option>
                <option id="php">PHP</option>
                <option id="javascript">Javascript</option>
            </select>
        </div> --}}


        <button type="submit" class="btn btn-light">Submit</button>



    </form>
    <script src="/js/nonProfit/update.js"></script>
